
.timer-wrapper {
    width: 100px;
    height: 50px;
    background-color: get-color(primary);
    color: get-color(white);
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
}