
button {
    cursor: pointer;
    display: inline-block;

    &.primary {
        background-color: get-color(secondary);
        color: get-color(light-grey);
        border-radius: 7px;
        font-size: 16px;
        font-weight: bold;
        border: 0;
        width: 200px;
        height: 50px;
        text-transform: uppercase;
        letter-spacing: 0.07rem;
    }

    &.round {
        background-color: get-color(secondary);
        color: get-color(light-grey);
        border-radius: 50%;
        font-size: 16px;
        width: 60px;
        height: 60px;
        text-align: center;
        font-weight: bold;
        border: 0;
        text-transform: uppercase;
        letter-spacing: 0.07rem;

        .button-content {
            display: inline-block;
        }
    }
    

    &:hover {
        opacity: 0.90;
    }

    &:disabled {
        cursor: default;
        &:hover {
            opacity: 1;
        }
    }

    &.round.loading .button-content {
        display: none;
    }

    &.round.loading:after {
        content: " ";
        display: block;
        width: 35px;
        height: 35px;
        margin: 0;
        border-radius: 50%;
        border: 6px solid get-color(light-grey);
        border-color: get-color(light-grey) transparent get-color(light-grey) transparent;
        animation: loading-frames 1.2s linear infinite;
    }

    @keyframes loading-frames {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
}
